.main{
  padding: 0px 25px;

}

body{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(white,white);
}
body p,body label{
  font-size: 19px;
}


.nav-bar{
  width: 100%;
  display: inline-block;
  cursor: pointer;
}
.nav-bar ul{
  list-style: none;
}

.nav-bar ul li{
  float: left;
  padding-right: 101px;
}

.nav-bar ul li a{
  font-weight: 800;
      color: #4949ff;
      float: left;
      text-decoration: none; 

}

.nav-bar li .pro-user{
  width: 3%;
  position: fixed; 
  top: 4%; 
  right: 2%; 
}

.text{
  width: 100%;
  display: inline-block;
}
.paragraph{
  width: 100%;
  display: inline-block;
}
.login{
  text-align: center;
}
.width-100{
  width: 100%;

}
.width-50{
  width: 50%;
  float: right;
  font-size: 20px;   

}
.width-33{
  width: 33.333%;
  float: right;
  font-size: 20px;   

}
.button{
  padding: 9px 25px;
  font-size: 18px;
  background-color: #0066ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}
.login-content .button{
  width: 100%;
  height: 50px;
}


.login-image img{
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 100%;
  padding-right: 10px;
}

.login-image-content {
  padding-right: 20px;
}

.form-style1 input,.form-style1 select{
  width: 100%;
  height: 54px;
  background-color: #e0edff;
  border: none;
  border-radius: 5px;
  padding: 0px 15px;
  color: #202020;
}
.form-style1 input:focus-visible, .form-style1 select:focus-visible{
  border-color: red;
}
.login-content {
  padding: 0px 45px;
}
.login-message {
  text-align: center;
}
.login-message a{
  color: #0066ff;
  text-decoration: none;

}
.sign-up-message{
  text-align: center;
}
.sign-up-message a{
 color: #0066ff;
 text-decoration: none;
}


.detail-form input,.detail-form select{
  width: 100%;
  height: 54px;
  background-color: #e0edff;
  border: none;
  border-radius: 5px;
  padding: 0px 15px;
  color: #202020;
}
.save-button .button{
  width: 100%;
  cursor: pointer;
}
.profile-image img{
  width: 95%;
  height: auto;
  object-fit: contain;
  max-width: 100%;
  padding-right: 10px;
  padding: 35px;
  border-radius: 100%;
}

.profile-image-content {
  padding-right: 20px;
}

/*Prediction*/

.prediction-image img{
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 100%;
}

.prediction-image-content {
  padding-right: 20px;
}
.button-editor {
  width: 100%;
  display: inline-block;
}
.button-editor .clear-button, .button-editor .Submit-button{
  float: left;
}
.button-editor .Submit-button{
  margin: 0px 6rem;
}
button[type=submit]{
  background-color: #009b2e;
}
button[type=submit]:hover{
  transition: .4s ease-in-out;
  background-color: #00ff4c;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.493);
}
button[type=reset]{
  background-color: #8a0303;
}
button[type=reset]:hover{
  transition: .4s ease-in-out;
  background-color: #da0606;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.493);
}
.detail-form input, .year-module {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
.detail-form .year-module label{
  font-size: 20px;
  padding: 8px;
  border-radius: 5px;
}
.detail-form .year-module input[type=checkbox]{
  width:25px;
  margin-left: 1rem;
}
.form-program-selector select{
  width: 30%;
  height: 50px;
  background-color: #e0edff;
}

.program-detail-image {
  text-align: center;
}
 
.program-detail-image img{
  width: 70%;
}
.program-detail-content{
  width: 68%;
  margin: auto;
  text-align: center;
  background-color: white;
  padding: 1%;
}
.course-outline{
  width: 68%;
  margin: auto;
  text-align: center;
  background-color: white;
  padding: 1%;
}
.detail-form.modules{
  background-color :steelblue; 
  color: #e0edff;
  padding: 35px;
}
.error{
  color: red;
}
.my-account-detail-form input, select {
  width: 100%;
  height: 54px;
  background-color: #e0edff;
  border: none;
  border-radius: 5px;
  padding: 0px 15px;
  color: #202020;
}

.detail-form input{
  background-color: #e0edff;
}


.text h1{
  text-align: center;
  color: aliceblue;
  background-color: rgba(3, 5, 76, 0.853);
  padding: 5px;
  border-radius: 2px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.603);
  margin: 2%;
}

/* About Us */

.container1{
  display: inline-block;
  width: 22%;
  text-align: justify;
  border-radius: 10px;
  padding: 2%;
  margin-left: 5%;
  background-color: aliceblue;
  box-shadow: 4px 4px 6px 4px rgba(2, 5, 8, 0.565);
}
.container1:last-child{
  width: 53%;
  background-color: #0066ff00;
  box-shadow: none;
}
.container1 img{
  width: 100%;
  border-radius: 10px;
}
.container1 img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.container1 img:hover{
	-webkit-transform: scale(1.05);
	transform: scale(1.1);
  box-shadow: 3px 3px 3px 3px rgba(2, 5, 8, 0.565);
}
.container1:last-child img:hover{
	-webkit-transform: scale(1.05);
	transform: scale(1.1);
  box-shadow: none;
}
.container1:last-child img:hover{
	-webkit-transform: scale(1);
	transform: scale(1);
}
.container1 .text2{
  text-align: center;
  background-color: #000000e5;
  padding: 5px;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  line-height: 0.85cm;
}

.logout-button-content {
  position: absolute;
  right: 0;
}

.logout-button{
  float: right;
  padding: 5px 94px 8px 69px;
  font-size: 16px;
  background-color: #0066ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin:  7px 27px 0px 0px;
  font-weight: bold;
}

.nav-bar ul li a.active {
  color: black; 
}

.nav-bar ul li a:hover{
  color: black;
  transition: 0.4s ease-in-out;
}

/* home */
.home-background {
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(Images/home.jpg);
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  height: 109vh;
  position: relative;
  opacity: 85%;
}
.content h1 {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 70px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
  color: #ffffffe8;
}
.content span {
  color: rgb(147, 202, 234);
}
.container .box{
  width: 22%;
  display: inline-block;
  padding: 2%;
  margin-left: 5%;
  box-shadow: none;
  background-color: #0066ff00;
  
}
.container .box h2{
  text-align: center;
  background-color: #022b63;
  color: #ffffff;
  padding: 5px;
}
.container .box p{
  text-align: center;
  font-size: 20px;
}
.container .box h2::first-letter{
  font-size: 45px;
  color: #a0dfff;
}
.container .box{
  background-color: #ffffff;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.container .box:hover{
	-webkit-transform: scale(1.05);
	transform: scale(1.1);
  box-shadow: 7px 7px 7px  rgba(2, 5, 8, 0.565);
}
.logo {
  position: absolute;
  top: 15%; 
  left: 5%; 
  transform: translateY(-50%); 
  color: white; 
  text-align: center; 
  font-size: 70px;
}

.logo span {
  font-weight: bold;
  font-size: 80px;
}
.para-content{
  position: absolute;
  top: 70%; 
  left: 5%; 
  transform: translateY(-50%); 
  color: white; 
  text-align: center; 
  font-size: 20px;
}
.box .mission-img {
  background-image: url('Images/mission.png'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: right; 
  width: 4rem; 
  height: 4rem; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  margin: 0px 0px 0px 90px ; 
}

.box .why-img {
  background-image: url('Images/why.png'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: right; 
  width: 4rem; 
  height: 4rem; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  margin: 0px 0px 0px 90px ; 
}

.box .how-img {
  background-image: url('Images/how.png'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: right; 
  width: 4rem; 
  height: 4rem;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  margin: 0px 0px 0px 90px ; 
}
.steps h1{
  background-color: #022b63;
  padding: 0.5rem;
  color: #a0dfff;;
  text-align: center;
}
ol li{
  list-style-type: none;
  background-color: #2020203e;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin: auto;
}
ol li h3{
  color: #f9f9ff;
  font-size: 22px;
}