.nav-bar{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.216);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 3px  rgb(78, 78, 78);
}
.nav-bar ul li{
    padding-bottom: 15px;
}
.nav-bar ul li a{
    font-size: 16px;
}
.nav-bar ul li a:hover {
    text-shadow: 1px 1px rgb(1, 242, 255);
  }
.nav-bar ul li a.active {
    color: #e0edff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 5px;
    padding: 21px;
    background-color: rgba(4, 2, 60, 0.743);
    border-radius: 10px;
    box-shadow: 4px 4px 4px  rgb(78, 78, 78);
    margin-left: 10px;
  }


